.SelectedContainer {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start;
    overflow-x: scroll !important;
    padding: 10px;
    gap: 10px;

    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    margin-top: 3rem;
}

.SelectedContainer::-webkit-scrollbar {
    display: none
}

.Selectedh2 {
    margin: 0 !important;
    padding-left: 20px !important;
    font-size: 20px;
    color: white;
}