/* loginPage.module.css */

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    background-color: #280137;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ECEAF5;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
    text-align: center;
}

h2 {
    width: 100%;
    text-align: left;
    color: #272138;
    font-size: 20px;
    margin-bottom: 20px;
}

.hr {
    width: 100%;
    margin: 10px 0 30px 0;
    position: relative;
    border: 3px #ffffff solid;
}

.inputGroup {
    width: 100%;
    margin-bottom: 8px;
    text-align: left;
}

.inputGroup input {
    color: #000000;
    width: 95%;
    padding: 15px 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12);
}

.inputGroup input:focus {
    border: 2px solid #6A0DAD;
    outline: none;
}

::placeholder {
    color: #000000;
}

.forgotPassword {
    text-align: center;
    margin: 20px 0;
}

.Link {
    font-size: 16px;
    color: #6A0DAD !important;
    text-decoration: none;
}

.loginBtn {
    background-color: #7C42E2;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

.loginBtn:hover {
    background-color: #4f10bc;
}

@media screen and (max-width: 480px) {
    .loginForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ECEAF5;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        width: 300px;
        height: 400px;
        text-align: center;
    }
}

.signupLink {
    margin: 0;
    font-size: 14px;
}



.inputError {
    border: 2px solid red !important;
}