.NavBarContainer {
    padding: 10px;
    margin: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white !important;
    background-color: #280137;
    height: 40px;

}

.link {
    color: #ffffff !important;
    text-decoration: none !important;
}